
  <h2>ジャンル検索</h2>
   <td>
  <% @items.each do |item|%>
    <h1><%= item.genre.name %></h1>

      <% end %>
    </td>

  <h2>商品一覧(全<%= @items.count %>件)</h2>










     </tr>
    </tbody>
  </table>



  <%#= paginate @items, class:"text-center" %>
